@import "fonts";
@import "global-commons";
@import "header";
@import "normalize";
@import "topmenu";
@import "tags";
@import "md-editor";
@import "page-loading";

.form-page {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 25vh;

    background-color: #101010;

    form {
        p {
            color: red;
        }
    }

    &-paper {
        display: flex;
        flex-direction: column;

        width: 30vw;
        row-gap: 20px;

        background-color: #101010 !important;
    }

    &-textfield {
        background-color: #101010;

        fieldset {
            border: 1px solid #777;
        }

        input, label {
            color: aliceblue;
        }

        &:hover {
            background-color: #101010;
        }
    }

    button {
        border: 1px solid #777;
        color: aliceblue;

        &:hover {
            background-color: #42f2f7;
            border: none;
            color: #101010;
        }
    }

    &-register {
        @extend %font-common-regular;
        font-size: 14px;
        color: aliceblue !important;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: #42f2f7 !important;
            text-decoration: underline;
        }
    }
}